<a href='/urls'>
    <h1>URL SHORTENER</h1>
</a>
<a href="/urls/new">
    <h2>Shorten a New Link</h2>
</a>
<form action="/login" method="post">
    <input type="text" placeholder="username" name="username">
    <input type="submit" value="submit">
</form>
<span>
    <%= username %>
</span>