<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TinyApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body class="container" style="background-color: white">

    <header>
        <nav class="navbar navbar-default">
            <ul class="nav navbar">
                <li href='/urls' class="nav-item">
                    <a href="/urls" class="nav-item active">TinyApp</a>
                </li>
                <li class="nav-item">
                    <a href="/urls/new" class="nav-link">Shorten a New Link</a>
                </li>
            </ul>

            <ul class="nav navbar">
                <li class="nav-item">
                    <% if (userInfo == undefined) { %>
                        <form action="/login" method="get">
                            <input class="btn btn-success" type="submit" value="Login">
                        </form>
                        <% } else {%>
                        <form action="/logout" method="post">
                            <label for="username"><%= userInfo["email"] %></label>
                            <input class="btn btn-primary" type="submit" value="Logout">
                        </form>
                        <% } %>
                </li>
                <% if (userInfo == undefined) { %>
                <li class="mr-auto">
                    <form action="/register" method="get">
                        <input type="submit" value="Register" class="btn btn-primary">
                    </form>
                </li>
                <% } %>
            </ul>
        </nav>
    </header>

<ul style="color: red; background: pink">
    <%  errors.forEach(function(error) { %>
    <li><%= error %></li>
    <% }) %>
</ul>