<% include partials/_header.ejs %>

    <h1>Please Login First</h1>

    <main>
        <form method="post" action="/login">
            <label for="email">E-Mail</label>
            <input id="email" type="email" name="email">
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
            <input type="submit" value="Login">
        </form>

    </main>


    <% include partials/_footer.ejs %>