<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>TinyApp</title>
</head>

<body>
    <header>
        <% include partials/_header.ejs %>
    </header>
    <main>
        <h2>Short URL:
            <%= shortURL %>
        </h2>
        <form action="/urls/<%= shortURL %>" method="post">
            <input id="editLongURL" type="text" name="editLongURL" value="<%= urls[shortURL] %>">
            <input type="submit" value="Update">
        </form>
    </main>

</body>

</html>