<% include partials/_header.ejs %>


    <main>
        <h2>Short URL:
            <%= shortURL %>
        </h2>
        <form action="/urls/<%= shortURL %>" method="post">
            <input id="editLongURL" type="text" name="editLongURL" value="<%= urls[shortURL] %>">
            <input type="submit" value="Update">
        </form>
    </main>

    <% include partials/_footer.ejs %>