<% include partials/_header.ejs %>



    <main>
        <h2>Your Links</h2>
        <table>
            <tr>
                <th>Short Link</th>
                <th>Long Link</th>
            </tr>
            <% for(const key in urls){ %>
                <tr>
                    <td>
                        <%= key %>
                    </td>
                    <td>
                        <%= urls[key]%>
                    </td>
                    <td>
                        <a href="/urls/<%=key%>">
                            <p>Edit</p>
                        </a>
                    </td>
                    <td>
                        <form method="POST" action="/urls/<%= key %>/delete">
                            <input type="submit" value="delete">
                        </form>
                    </td>
                </tr>
                <% } %>
        </table>
    </main>
    <% include partials/_footer.ejs %>