<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>TinyApp</title>
</head>

<body>
    <header>
        <% include partials/_header.ejs %>
    </header>
    <main>
        Your Long URL is:
    </main>

</body>

</html>