<% include partials/_header.ejs %>


    <main>
        <h2>Short URL:
            <a href="/u/<%=shortURL%>">
                /u/<%= shortURL %>
            </a>
        </h2>
        <form action="/urls/<%= shortURL %>?_method=PUT" method="post">
            <input id="editLongURL" type="text" name="editLongURL" value="<%= urls[shortURL] %>" class="col-lg-8">
            <input type="submit" value="Update" class="btn btn-success">
        </form>
    </main>

    <% include partials/_footer.ejs %>