<% include partials/_header.ejs %>




    <form action="/urls" method="post" style="margin:150px;">
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="submit">
    </form>



    <% include partials/_footer.ejs %>