<% include partials/_header.ejs %>



    <main>
        <h2>Your Links</h2>
        <% if (userInfo) { %>
            <table>
                <tr>
                    <th>Short Link</th>
                    <th>Long Link</th>
                </tr>

                <% userInfo["links"].forEach(function(element){ %>
                    <tr>
                        <td>
                            <%= element %>
                        </td>
                        <td>

                            <%= urls[element] %>
                        </td>
                        <td>
                            <a href="/urls/<%=element%>">
                                <p>Edit</p>
                            </a>
                        </td>
                        <td>
                            <form method="POST" action="/urls/<%= element %>/delete">
                                <input type="submit" value="delete">
                            </form>
                        </td>
                    </tr>
                    <% }); %>
            </table>
            <% } %>
    </main>
    <% include partials/_footer.ejs %>